In [15]:
from azureml.core import Workspace, Experiment, Run
from azureml.core import Dataset, Datastore
ws = Workspace.from_config("./config")

In [14]:
# -----------------------------------------------------
# Access the Workspace, Datastore and Datasets
# -----------------------------------------------------
dataset = Dataset.get_by_name(ws, name='loansampleexperiment')
#az_default_store  = workspace.get_default_datastore()
az_store= Datastore.get(ws, 'azureml_ds_b01')

In [3]:
import azureml

In [4]:
import azureml._restclient.snapshots_client
azureml._restclient.snapshots_client.SNAPSHOT_MAX_SIZE_BYTES = 1000000000

In [16]:
#Get context 
run = Run.get_context()

In [17]:

# -----------------------------------------------------
# Do your stuff here
# -----------------------------------------------------
df = dataset.to_pandas_dataframe()

In [18]:
df.columns

Index(['ID', 'Credit Given', 'Gender', 'Education', 'Marital Status', 'Age',
       'Pay Stat M1', 'Bill Amt M1', 'Amt Paid M1', 'Pay Stat M2',
       'Bill Amt M2', 'Amt Paid M2', 'Pay Stat M3', 'Bill Amt M3',
       'Amt Paid M3', 'Default Next Month'],
      dtype='object')

In [19]:
# Create a new dataframe with new features 
# and write to outputs folder
new_df = df[["Gender", "Marital Status", "Education",'Default Next Month']]
new_df.to_csv("./outputs/loan_trunc.csv", index=False)

In [20]:
new_df

      Gender Marital Status        Education  Default Next Month
0     Female  Never Married       University                True
1       None  Never Married       University               False
2     Female        Married       University               False
3       Male        Married             None               False
4       Male  Never Married  Graduate School               False
...      ...            ...              ...                 ...
1595  Female  Never Married  Graduate School               False
1596  Female  Never Married  Graduate School               False
1597  Female        Married      High School               False
1598  Female        Married       University               False
1599    Male        Married       University               False

[1600 rows x 4 columns]

In [21]:
total_observation = len(df)
nulldf = df.isnull().sum()

In [22]:
run.log('Total Observations', total_observation)

Attempted to log scalar metric Total Observations:
1600

In [23]:
#log missing data values
for columns in df.columns:
    run.log(columns, nulldf[columns])

Attempted to log scalar metric ID:
0
Attempted to log scalar metric Credit Given:
16
Attempted to log scalar metric Gender:
12
Attempted to log scalar metric Education:
11
Attempted to log scalar metric Marital Status:
8
Attempted to log scalar metric Age:
0
Attempted to log scalar metric Pay Stat M1:
0
Attempted to log scalar metric Bill Amt M1:
0
Attempted to log scalar metric Amt Paid M1:
0
Attempted to log scalar metric Pay Stat M2:
0
Attempted to log scalar metric Bill Amt M2:
0
Attempted to log scalar metric Amt Paid M2:
0
Attempted to log scalar metric Pay Stat M3:
0
Attempted to log scalar metric Bill Amt M3:
0
Attempted to log scalar metric Amt Paid M3:
0
Attempted to log scalar metric Default Next Month:
0

In [24]:
run.complete()